<a href="https://colab.research.google.com/github/Matheusups/Datasets/blob/main/IntroPandasPTBR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução**
Essa 'documentação' eu criei com base nos cursos e conhecimento sobre a biblioteca para que eu pudesse consultar sempre que tivesse dúvida.

In [ ]:
import pandas as pd 
#Sempre importar a biblioteca antes de usar códigos nativos

### **Criando estruturas de dados**
No pandas existem 2 estruturas de dados principais

*   **DataFrame**

  Corresponde a uma tabela, Linha x Coluna  
*   **Series**

  Corresponde a uma lista de dados, unidimensionais.

In [ ]:
#Criar DataFrame
pd.DataFrame({"Ensino":["Superior","Médio"], "Idade":[31,17]}, index=["José","Matheus"])

           Ensino  Idade
José     Superior     31
Matheus     Médio     17

In [ ]:
#Criar uma Series de vendas por Loja
pd.Series([1500,1258,1620,1685,1440], index=['Loja 1','Loja 2', 'Loja 3', 'Loja 4', 'Loja 5'], name='FaturamentoLoja')

Loja 1    1500
Loja 2    1258
Loja 3    1620
Loja 4    1685
Loja 5    1440
Name: FaturamentoLoja, dtype: int64

###### **O Dataframe é basicamente um conjunto de Series coladas. Vamos testar algumas funções de exploração dos tipos de dados, quantidade de linhas/colunas e funções essenciais para a fase de interpretação do Dataset.**

Usarei o seguinte dataset: https://www.kaggle.com/shivamb/disney-movies-and-tv-shows

In [ ]:
#Importando o Dataset, copie o caminho e use no Código

FilmesDisney = pd.read_csv("/content/disney_plus_titles.csv", sep=',', index_col=0) #Atribui o Dataset a Variavel FilmesDisney

FilmesDisney.head() #Exibe os 5 primeiros resultados do dataset

            type  ...                                        description
show_id           ...
s1         Movie  ...  Two Pixar filmmakers strive to bring their uni...
s2         Movie  ...  The puppies go on a spooky adventure through a...
s3         Movie  ...  Hazel and Gus share a love that sweeps them on...
s4       TV Show  ...  Matt Beisner uses unique approaches to modifyi...
s5       TV Show  ...  Spidey teams up with pals to become The Spidey...

[5 rows x 11 columns]

In [ ]:
#Explana dados sobre a estrutura dos dados, n° linhas e n° de colunas
FilmesDisney.shape

(1368, 11)

In [ ]:
#Nome das colunas
FilmesDisney.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
#Consulta filtrada > objeto.coluna < Retorna um Series 
FilmesDisney.country.value_counts() #Função value_counts, conta a quantidade de registros no mesmo pais ou paises(nesse caso).

United States                                                976
United States, Canada                                         28
United Kingdom                                                23
United States, United Kingdom                                 19
Canada, United States                                         17
                                                            ...
Canada, United States, United Kingdom, France, Luxembourg      1
United Kingdom, United States, Ireland                         1
Tanzania, United States                                        1
Ireland, United States                                         1
United States, Spain                                           1
Name: country, Length: 87, dtype: int64

In [ ]:
#Consulta por Indice(Index), retorna o registro da coluna 'Country' indexado pelo ID 's4'
FilmesDisney['country']['s4']

'United States'

In [ ]:
#Função loc, filtrando registro, e atribui o filtro a outra variavel pra utilizar
Disney1 = FilmesDisney.loc[:, ['country', 'title', 'type']]
Disney1

                       country                           title     type
show_id
s1                         NaN                   A Spark Story    Movie
s2       United States, Canada                  Spooky Buddies    Movie
s3               United States          The Fault in Our Stars    Movie
s4               United States                 Dog: Impossible  TV Show
s5               United States  Spidey And His Amazing Friends  TV Show
...                        ...                             ...      ...
s1364            United States          The Sword in the Stone    Movie
s1365            United States                 Those Calloways    Movie
s1366            United States            Disney Kirby Buckets  TV Show
s1367                   Canada                  Disney Mech-X4  TV Show
s1368            United States              Imagination Movers  TV Show

[1368 rows x 3 columns]

In [ ]:
#Registros que possuem pais de origem só Canada
Disney1.loc[Disney1.country == 'Canada']

        country                title     type
show_id
s105     Canada           Dino Ranch  TV Show
s658     Canada      Atlantis Rising    Movie
s743     Canada  Disney Bad Hair Day    Movie
s1129    Canada             So Weird  TV Show
s1367    Canada       Disney Mech-X4  TV Show